process {
  executor='slurm'
  queue = 'condo'
}
process {
  withName: 'NFCORE_VIRALRECON:ILLUMINA:FASTQC_FASTP:FASTP' {
	cpus = 8
	memory = 64.GB
  }
}
process {
  withName: 'NFCORE_VIRALRECON:ILLUMINA:ALIGN_BOWTIE2:BOWTIE2_ALIGN' {
        memory = 64.GB
  }
}
process {
  withName: 'NFCORE_VIRALRECON:ILLUMINA:ASSEMBLY_SPADES:SPADES' {
	memory = 64.GB
  }
}
